
div.search-result-availability-line-wrapper
{
    display: none
}


prm-topbar > div.top-nav-bar prm-logo-after,
prm-topbar > div.top-nav-bar prm-user-area
{
    display: none
}


@media (min-width: 1280px) {
    md-content > prm-static.flex {
        flex : 0 0 80%;
    }
}