
div.search-result-availability-line-wrapper
{
    display: none
}

md-option[value='fr_FR'] {
    display: none
}

prm-language-selection md-list-item[value='fr_FR']{
    display:none!important;
}
prm-user-area {
    display: none
}
md-menu-item.my-library-card-ctm {
    display: none
}
prm-topbar  prm-user-area-expandable > button.user-button {
    display: none
}

prm-topbar > div.top-nav-bar prm-logo-after,
prm-topbar > div.top-nav-bar prm-user-area
{
    display: none
}


@media (min-width: 1280px) {
    md-content > prm-static.flex {
        flex : 0 0 80%;
    }
}