<ul ng-model="$ctrl.selectedLanguage" ng-change="$ctrl.changeLanguage()"
    aria-label="{{'nui.aria.account.details.langaugesselect' | translate}}"
    class="pagination language">
    <li ng-repeat="language in ::$ctrl.languages">
        <a class="pagination__btn" href="" 
            ng-class="{'active':$ctrl.selectedLanguage == '{{language}}'}" 
            ng-if="language == 'nl_BE'"
            ng-click="$ctrl.selectedLanguage='nl_BE'; $ctrl.changeLanguage()">
            NL
        </a> 
        <a class="pagination__btn" href="" 
            ng-class="{'active':$ctrl.selectedLanguage=='{{language}}'}" 
            ng-if="language == 'en_US'"
            ng-click="$ctrl.selectedLanguage='en_US'; $ctrl.changeLanguage()">     
            EN
        </a> 
    </li>
</ul>