
<div style="display: none " class="top-nav-bar" layout="row" flex-order="1" layout-align="start center" tabindex="0" role="navigation">
            <!-- Accesibility skip to menu -->
        <prm-skip-to tabindex="0"></prm-skip-to>
        <!-- Institution logo -->
        <prm-logo></prm-logo>
        <!-- spacer -->
        <div class="flex" flex></div>
        <!-- Links menu -->
        <prm-main-menu ng-if="$ctrl.showMainMenu" menu-type="menu" flex="50"></prm-main-menu>
        <!-- spacer -->
        <div flex></div>
        <!-- view switcher: search <> favorites -->
        <!-- User menu -->
        <prm-user-area ></prm-user-area>
    </div>


<div class="top-nav-bar" layout="row" flex-order="1" layout-align="start center" tabindex="0" role="navigation">
    <!-- Accesibility skip to menu -->
    <prm-skip-to tabindex="0"></prm-skip-to>

    <header class="screen-only ng-scope">
        <div class="navbar navbar--global navbar--no-padding">
            <div class="container">
                <a href="https://www.kuleuven.be/" class="logo logo--small logo--floating pull--left" title="KU Leuven"></a>
                <a href="#" class="navbar__toggle navbar__toggle--btn  show--bp-med">&nbsp;</a>
            </div>

            <!-- Institution logo -->
            <!-- <prm-logo></prm-logo> -->
        </div>
        <!-- spacer -->
        <div class="flex" flex></div>

        <div class="navbar navbar--local">
            <div class="container">
                <div class="heading--2 navbar__title navbar__title--no-margin">
                    <a href="/primo-explore/search?vid=Lirias" class="ng-binding">
                        <i class="material-icons">home</i> Lirias</a>
                </div>
                <a href="/#" class="navbar__toggle pull--left hidden--bp-med" role="button" aria-expanded="false" data-toggle="collapse"
                    data-target=".nav--tabs">Menu
                    <span class="lines"></span>
                </a>

                <prm-search-bookmark-filter class="view-switcher" layout-align="end center" layout="row" hide-sm></prm-search-bookmark-filter>
                
                <div class="grid">
                    <div class="grid__6 grid--bp-med__9">
                        <a href="#" class="navbar__toggle hidden--bp-med" role="button" aria-expanded="false" data-toggle="collapse" data-target=".nav--tabs">Menu
                            <span class="lines"></span>
                        </a>
                        <nav class="nav nav--tabs nav--more">
                            
                            <!-- Links menu -->
                            <prm-main-menu ng-if="$ctrl.showMainMenu" menu-type="menu" flex="50"></prm-main-menu>

                            <!-- view switcher: search <> favorites -->
                            

                        </nav>
                    </div>

<div>

                    <prm-user-area ></prm-user-area>

                </div>
<hr>
<div>
<prm-change-lang></prm-change-lang>
</div>
<hr>
<div>
    <change-lang parent-ctrl="$ctrl"></change-lang>
</div>
<!-- TO DO: Creating a language switch  
                    <div class="grid__6 grid--bp-med__3">
                        <div class="pull--right__nav-user">
                            <prm-user-area ></prm-user-area>
                           <change-lang parent-ctrl="$ctrl"></change-lang>
                           <prm-change-lang></prm-change-lang>
                           </div>
                    </div>
-->                    
                </div>
            </div>
        </div>
    </header>

</div>