md-option[value='fr_FR'] {
    display: none
}
prm-user-area {
    display: none
}
md-menu-item.my-library-card-ctm {
    display: none
}
prm-topbar  prm-user-area-expandable > button.user-button {
    display: none
}