
.full-view-inner-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

/* -----------------------------------------------------*/
/*view online*/
#getit_link1_0{
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

#services-index button[aria-label='Bekijk online'],
#services-index button[aria-label='View Online'],
#services-index button[aria-label='Consulter'],
#services-index button[orderIndex='1']{
  order: 1;
}


/* -----------------------------------------------------*/
/*details*/
#details{
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

#services-index button[aria-label='Details'],
#services-index button[aria-label='Détails'],
#services-index button[orderIndex='1']{
  order: 1;
}

/* -----------------------------------------------------*/
/*links*/
#services-index button[aria-label='Locations'],
#services-index button[aria-label='Locaties'],
#services-index button[orderIndex='3']{
  order: 3;
}

#locationsLinks{
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}


#services-index button[aria-label='Links'],
#services-index button[aria-label='Bezitsinformatie'],
#services-index button[aria-label='Liens'],
#services-index button[orderIndex='4']{
  order: 4;
}

#links{
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}

/* -----------------------------------------------------*/
/*altmetrics*/
#altmetrics{
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}

#services-index button[aria-label="Altmetrics"],
#services-index button[aria-label="altmetrics"],
#services-index button[orderIndex='4']{
  order: 4;
}


/* -----------------------------------------------------*/
#services-index #getit_link1_1{
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}


/*Send to*/
#action_list{
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}

/*send to*/
#services-index button[aria-label='Export'],
#services-index button[aria-label='Send to'],
#services-index button[aria-label='Envoyer à'],
#services-index button[orderIndex='5']{
  order: 5;
}


/*?????*/
#getit_link2{
  -webkit-box-ordinal-group: 6;
  -moz-box-ordinal-group: 6;
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
  display:none;
}

#services-index button[aria-label='Check locaties'],
#services-index button[aria-label='Check Locations'],
#services-index button[orderIndex='6']{
  order: 6;
  display:none;
}


#tags{
  -webkit-box-ordinal-group: 6;
  -moz-box-ordinal-group: 6;
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
  display:none;
}

/*tags*/
#services-index button[aria-label='Tags']{
  order: 6;
  display:none;
}

#services-index {
  display:flex;
  flex-direction: column;
}


/* citationTrails */
#citationTrails{
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

/*citations*/
#services-index button[aria-label='Citaties'],
#services-index button[aria-label='Citations'],
#services-index button[orderIndex='0']{
  order: 0;
}


