/* primary color hook end*/


span.user-name:before {
 /* content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2033.054%2033.054%22%20xml%3Aspace%3D%22preserve%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20style%3D%22color%3A%20%23ffffff%3Bopacity%3A%200.56%3B%22%3E%0A%3Cpath%20d%3D%22M2%2C3H22C23.05%2C3%2024%2C3.95%2024%2C5V19C24%2C20.05%2023.05%2C21%2022%2C21H2C0.95%2C21%200%2C20.05%200%2C19V5C0%2C3.95%200.95%2C3%202%2C3M14%2C6V7H22V6H14M14%2C8V9H21.5L22%2C9V8H14M14%2C10V11H21V10H14M8%2C13.91C6%2C13.91%202%2C15%202%2C17V18H14V17C14%2C15%2010%2C13.91%208%2C13.91M8%2C6A3%2C3%200%200%2C0%205%2C9A3%2C3%200%200%2C0%208%2C12A3%2C3%200%200%2C0%2011%2C9A3%2C3%200%200%2C0%208%2C6Z%22%20style%3D%22color%3Ainherit%3Bfill%3AcurrentColor%3Bopacity%3A%20inherit%3B%22%2F%3E%3C%2Fsvg%3E);  */
/*content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20style%3D%22color%3A%20%230053A0%3Bopacity%3A1%3B%22%3E%0A%3Cpath%20d%3D%22M2%2C3H22C23.05%2C3%2024%2C3.95%2024%2C5V19C24%2C20.05%2023.05%2C21%2022%2C21H2C0.95%2C21%200%2C20.05%200%2C19V5C0%2C3.95%200.95%2C3%202%2C3M14%2C6V7H22V6H14M14%2C8V9H21.5L22%2C9V8H14M14%2C10V11H21V10H14M8%2C13.91C6%2C13.91%202%2C15%202%2C17V18H14V17C14%2C15%2010%2C13.91%208%2C13.91M8%2C6A3%2C3%200%200%2C0%205%2C9A3%2C3%200%200%2C0%208%2C12A3%2C3%200%200%2C0%2011%2C9A3%2C3%200%200%2C0%208%2C6Z%22%20style%3D%22color%3Ainherit%3Bfill%3AcurrentColor%3Bopacity%3A%20inherit%3B%22%2F%3E%3C%2Fsvg%3E); */
/*
 height: 45px;
 width: 70px;
    */
}


/* {
  background-color: #0053A0,
  background-color: #CCCCCC,
  background-color: white,
  background-color: #5C92BD,
  background-color: tomato,
  background-color: #0f7d00,
  background-color: gray,
  background-color: #e08303
}
*/

prm-search md-content.layout-align-center-start {
    padding: 1.5em;
    /*display: block;*/
}

prm-search md-content.layout-align-center-start  .facet-to-left-spacer {
    margin-right: 0em;
}

@media (max-width: 1919px) and (min-width: 1280px){
    prm-search md-content.layout-align-center-start  .facet-to-left-spacer {
        margin-right: 5.5em;
    }
}


@media (min-width:  600px){
    prm-search md-content.layout-align-center-start .simple-search-wrapper {
        flex-direction:row;
    }
}

@media (max-width:  600px){
    prm-search md-content.layout-align-center-start .simple-search-wrapper {
        flex-direction:column;
    }
}

div.search-input input#searchBar {
    padding-right: 5em;
    text-overflow: ellipsis;
    overflow: hidden;
}

prm-main-menu div.settings-container,
prm-main-menu md-divider {
    display: none;
}

prm-search-bar .search-element-inner  .search-options{
    display: none;
}

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced,
prm-search-bar .search-switch-buttons .md-button.switch-to-simple{
     /* color:#0053A0; */
     color:#fff;
}

prm-search-bar .simple-search-wrapper .search-actions {
    background-color:#0053A0;

    color: #fff;
}
prm-search-bar .simple-search-wrapper .search-actions .md-button.button-confirm{
    color: #fff;
}

prm-topbar .top-nav-bar {
    background-color:#fff;
    color:#0053A0;
 }

prm-user-area {
      background-color:#fff;
}

prm-search-bookmark-filter #favorites-button {
    color: #fff;
    background-color: #0053A0;
}

#beta-switch {
    margin-left: 1em;
}


prm-topbar  .md-button.button-over-dark:hover:not([disabled]),
prm-topbar div#home-buttons-holder .md-button:hover:not([disabled]),
prm-topbar div[id='main menu'] .md-button:hover:not([disabled]),
prm-topbar .md-button:hover:not([disabled]),
prm-user-area .md-button.user-menu-button:hover:not([disabled]) {
     color:#0053A0;
}

prm-topbar  .md-button.button-over-dark,
prm-topbar div#home-buttons-holder .md-button,
prm-topbar div[id='main menu']  .md-button,
prm-topbar .md-button,
prm-user-area .md-button.user-menu-button {
    color:#226091;
}

.hoverable-over-dark:not(.disable-hover), .md-button.button-over-dark:not(.disable-hover),
 prm-main-menu[menu-type="full"] .md-button.md-focused:not(.disable-hover),
 prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:not(.disable-hover):focus,
 prm-main-menu[menu-type="full"] .md-button:not(.disable-hover):focus,
 prm-main-menu[menu-type="full"] .md-button:not(.disable-hover):hover,
 prm-main-menu[menu-type="full"] .md-button md-select:not(.disable-hover):focus,
 prm-main-menu[menu-type="full"] .overlay-menu-item.md-focused:not(.disable-hover),
 prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:not(.disable-hover):focus,
 prm-main-menu[menu-type="full"] .overlay-menu-item:not(.disable-hover):focus,
 prm-main-menu[menu-type="full"] .overlay-menu-item:not(.disable-hover):hover,
 prm-main-menu[menu-type="full"] .overlay-menu-item md-select:not(.disable-hover):focus,
 prm-main-menu[menu-type="full"] md-button:not(.disable-hover):focus,
 prm-main-menu[menu-type="full"] md-button:not(.disable-hover):hover,
 prm-topbar .md-button:not(.disable-hover), prm-user-area .md-button.user-menu-button:not(.disable-hover),
 prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:not(.disable-hover),
 prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:not(.disable-hover),
 prm-user-area md-fab-toolbar .md-fab-action-item .md-button:not(.disable-hover),
 prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:not(.disable-hover){
  color:#226091 !important;
}

#favorites-button{
  color: white !important;
}


prm-user-area md-fab-toolbar ._md-fab-action-item .md-button, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container,
prm-user-area md-fab-toolbar .md-fab-action-item .md-button, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container {
   color:#226091;
}

prm-user-area .user-menu-button .user-name {
    color:#226091;
    text-decoration:underline;
}

/*
prm-user-area prm-authentication {
    margin: 14px 0;
}
*/

prm-linked-user-selector-after div#prmLinkedUserSelectorAfter {
    margin-left: 1em;
}

prm-linked-user-selector-after div#prmLinkedUserSelectorAfter button#sign_out_button.md-button{
    background-color: #226091;
    color: #fff;
    font-weight: 600;
}
/*
div#fixed-buttons-holder prm-icon md-icon svg {
    color:pink;
}
*/
prm-search-bookmark-filter div#fixed-buttons-holder.fixed-to-top  #favorites-button{
    background-color: rgba(58,58,58,.12)
}

prm-topbar prm-user-area > button.mobile-menu-button.md-button ,
prm-topbar prm-user-area > button.user-menu-button.md-button {
    display: none
}


div#library_card_button_not_signed_in {
    height: 100%;
    margin-right: .5em;
}


/* Action List Order */
div#scrollActionList li#E-mail       { -webkit-order: 1; order: 1 }
div#scrollActionList li#Permalink    { -webkit-order: 2; order: 2 }
div#scrollActionList li#Citation     { -webkit-order: 3; order: 3 }
div#scrollActionList li#Print        { -webkit-order: 4; order: 4 }
div#scrollActionList li#BibTeXPushTo { -webkit-order: 5; order: 5 }
div#scrollActionList li#RISPushTo    { -webkit-order: 6; order: 6 }
div#scrollActionList li#EndNote      { -webkit-order: 7; order: 7 }

/* remove Renew-buttons */
prm-loans-overview  button.md-button,
prm-loans button.md-button[aria-label="Renew all"],
prm-loans button.md-button[aria-label="Renew"] {
    display: none;
}

html, body {
    background-color: #fff;
}

/*
.prm-background, html, body, prm-search .ui-blocker, prm-featured-results .horizontal-content-container .horizontal-content-control, prm-search-bar .simple-search-wrapper .search-options:after, prm-atoz-search-bar .simple-search-wrapper .search-options:after, prm-browse-search-bar .simple-search-wrapper .search-options:after, prm-tags-search-bar .simple-search-wrapper .search-options:after, prm-newspapers-search-bar .simple-search-wrapper .search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider, prm-atoz-search-bar .simple-search-wrapper .search-options md-divider, prm-browse-search-bar .simple-search-wrapper .search-options md-divider, prm-tags-search-bar .simple-search-wrapper .search-options md-divider, prm-newspapers-search-bar .simple-search-wrapper .search-options md-divider, .prm-view-overlay-inner, .__xs prm-facet,
.__sm prm-facet, .__sm .sidebar,
.__xs .sidebar, .multiselect-submit .multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button, prm-full-view-cont .recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider, md-dialog md-toolbar:not(.md-menu-toolbar), md-card .card-content-block {

    */


    prm-alphabet-toolbar .md-button {
        /* color: #226091; */
        /*
        color: #0053A0;
        background-color: #fff;
        */
        min-width: 25px;
    }
    prm-alphabet-toolbar .md-button.letter-button {
        /* color: #226091; */
        /*
        color: #0053A0;
        background-color: #fff;
        */
        width: 25px;
    }

    prm-alphabet-toolbar .md-button:hover:not([disabled]) {
        /*
        color: #fff;
        background-color: #5C92BD;
        */
    }

    prm-topbar {
        height: 69px;
    }

    prm-topbar prm-logo div#banner {
        padding-top:0;
        padding-bottom: 4px;
        /*
        padding-left:1em;
        padding-left:1em;
        */
    }


    #mainMenu > a,
    #mainMenu > button {
        box-shadow: none;
    }


/* DIT ZIT IN DE CENTRALE PACKAGE ???????? */
    div#footer {
        height: 35px;
        width: 100%;
        background-color: #003299;
        border-top: solid 2px #fff;
        padding: 0 1em;
        font-size: small;
       align-items: center;
    }

        prm-atoz-search-bar .advanced-search-backdrop, prm-browse-search-bar .advanced-search-backdrop, prm-newspapers-search-bar .advanced-search-backdrop, prm-search-bar .advanced-search-backdrop, prm-tags-search-bar .advanced-search-backdrop {
        background-color: #003299;
    }
